
.nav {


}

.navItem {
    display: grid;
    align-content: space-around;
    padding: 20%;
}

.item a {
    color: #584b4b;
    text-decoration: none;
    font-family: "Arial";
    font-size: 1em;

}


.navDiv {
    margin: 15%;
    display: flex;
    justify-content: center;
}

.item a:hover {
    color: rgba(0, 127, 223, 0.19)
}

.navItemWrapper {
    position: fixed;
    border: 0.5mm ridge rgb(109 106 106 / 15%);
    width: 10%;
    margin-left: 0%;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;

}

@media (max-width: 901px ) {
    .navItemWrapper {
        width: 10%;
        margin-left: -40px;
    }
}

@media (max-width: 901px ) {
    .nav {
        margin-top: 12vh;
        margin-left: 12vw;
        display: flex;
        flex-direction: row-reverse;
    }

    .item a {
        font-size: 0.4em;
    }

    .navItem {
        padding: 0%;
    }

    .navItemWrapper {
        border-radius: 10px;
    }
}







