.profileInfoContent{
    margin-top: -3%;
    background-color: white;
    border-radius: 22px;
    border: 0.5mm ridge rgb(109 106 106 / 15%);
    position: relative;
    grid-gap: 10%;
    width: 70vw;
    display: flex;
    justify-content: space-around;

}
.profileUserPhoto{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    padding: 2vw;
    margin-right: 20vw;
}

.yyy{
    /*margin-left: 298px;*/
    /*margin-top: -145px;*/
 /*padding-top: 5px;*/
}
.userName{
    position: absolute;
    top: 13vh;
    left: 16vw;
    font-size: 2rem;
    font-family: "Arial";
}
.contacts{
    width: 17%;
    top: 21%;
    position: absolute;
    left: 65%;
}
.profileInfoLinks{
    color: #1e1f21;
    text-decoration: none;
    padding:2%;
}
.contactsTitle{
    color: #6f7781;
    position: absolute;
    top: -20%;
    left: 22%;
}
.contactsIcon{
    width: 20px;
    height: 20px;
    padding-left: 5%;
}
.editLink{
    text-decoration: none;
    color: #6f7781;
}
.editLinkWrapper{
    border: 0.5mm ridge rgb(109 106 106 / 15%);
    border-radius: 20px;
    width: max-content;
    height: max-content;
    padding: 1vw;
    background: rgba(188,207,172,0.32);
    margin-top: 11vh;
}