.app-wrapper {
    min-height: 100%;
    margin: 4% auto;
    display: grid;
    grid-template-rows: 5% 2fr;
    grid-template-columns: 1fr 11fr;
    grid-template-areas:
        "h h"
        "n c";
    background-color: rgba(188,207,172,0.32);
    justify-items: center;
    align-items: center;
}

.app-wrapper-content {
    grid-area: c;
    color: black;

}




